body{
    margin: 60px 0 0 0;
    padding:0;
    background-color: black;
}

nav{
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 15px;
    color: black;
    font-size: 15px;
    position: fixed;
    z-index: 1000;
    background-color: white;
    margin: 0; 
}

.lefts{
    display: flex;     
    gap: 25px; 
    
}

.lefts a{
    text-decoration: none;
    color: black;
    padding-top:5px;
}
.solveme{
    display: inline-block;
    height: 20px;
    
}

.rights{
    display: flex;     
    gap: 25px; 
}


.rights a{
    text-decoration: none;
    color: black;
    padding-top:10px;
}
.rights #signup {
    background-color: #108a08;
    padding: 10px 20px;
    border-radius: 12px;
    color:white;
    margin-right:20px;
}

.rights #signup:hover{
    background-color:#0cb800;
    color:white;
    
}


.img {
    margin: 20px auto;
    max-width: 1250px;
    height: 650px;
    border-radius: 20px;
    background-image: url(img/mask.jpg);
    background-size: cover;
    position: relative;

}

.heading1 {
    position: absolute;
    font-size: 86px;
    color: #E6D6D6;
    margin: 120px 0 10px 50px;
    width: 600px;
}

.search {
    width: 410px;
    height: 65px;
    background-color: white;
    position: absolute;
    bottom: 150px;
    padding: 5px;
    border-radius: 25px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    left: 105px;
}

.search-input {
    border: none;
    background: white;
    color: black;
    margin: 10px;
    font-size: 18px;
    padding: 10px;
    outline: none;
    width: 300px;
}

.search-input::placeholder {
    color: gray;
}

.search-button {
    position: absolute;
    bottom: 0px;
    left: 350px;
    background: #108A00;
    border: none;
    border-radius: 30px;
    width: 75px;
    height: 75px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-button::before {
    
    content: "🔍︎";
    font-size: 40px;
    color: #fff;
}

.footer {
    margin-top:20px;
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
    padding: 20px;
    text-align: center; 
    width: 100%;        
    box-sizing: border-box;
    color:white;
}

.foot {
    width: 300px;
    text-align: center;
    display: inline-block;
    transition: color 0.5s ease;
}

.foot:hover {
    color: green;
}

.container {
    display:grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 630px 1fr;
    gap:30px;
    margin:40px 30px 0 40px;
    border-radius: 30px;
} 

.aside{
    background-color: #cacaca;
    border-radius: 30px;
    padding: 35px;
}

.aside h1{
    font-size: 32px;
}

.aside p{
    font-size: 20px;
}

.mainpart{
    background-color: #cacaca;
    border-radius: 30px;
    padding: 30px;

}

.proj {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: min-content;
    gap: 20px; 
    padding: 20px;
    border-radius: 20px;
    background-color: white;
    margin-bottom: 30px;
}
.proj h2, .proj ul, .proj li {
    margin: 0;
    padding: 0;
}
