* {
    margin: 0;
    padding: 0;
}

nav {
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.6vh 2vh;
    color: black;
    font-size: 16px;
    position: fixed;
    z-index: 1000;
    background-color: white;
    margin: 0;
}



.lefts {
    display: flex;
    gap: 25px;

}

.lefts a {
    text-decoration: none;
    color: black;
    padding-top: 5px;
}

.solveme {
    display: inline-block;
    height: 20px;
}

.rights {
    display: flex;
    gap: 25px;
}


.rights a {
    text-decoration: none;
    color: black;
    padding-top: 10px;
}

.rights #signup {
    background-color: #108a08;
    padding: 10px 20px;
    border-radius: 12px;
    color: white;
    margin-right: 20px;
}

.rights #signup:hover {
    background-color: #0cb800;
    color: white;

}


.img {
    margin: 20px auto;
    width: 80%;
    height: 90vh;
    border-radius: 20px;
    background-image: url("./img/pro.jpg");
    background-size: cover;
    display: flex;
    align-items: flex-start;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}



.rightside {
    margin-top: 8vh;
    flex-direction: column;
}

.heading1 {
    font-size: 78px;
    color: #E6D6D6;
    margin: 10vh 0 4vh 14vh;
    width: 70vh;


}

.search {
    text-align: center;
    padding: 0 auto;
    width: 22vw;
    background-color: white;
    border-radius: 25px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    margin-left: 14vh;
    display: flex;

}

.search-input {
    outline: none;
    border: none;
    background: white;
    color: black;
    font-size: 17px;
    padding: 2vh 3vh;
    border-radius: 20px;

}

.search-button {
    width: 40vw;
    height: 5vw;
    border: none;
    border-radius: 15px;
    background-color: #108a08;
    color: white;
    cursor: pointer;
    font-size: 30px;


}

.search-button:hover {
    background-color: #0cb800;
}

.footer {

    margin-top: 1vh;
    width: 100%;
    background-color: rgb(248, 245, 245);
    border-radius: 5px;
    padding: 3vh;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}

.foot {
    width: 100%;
    text-align: center;
    display: inline-block;
    transition: color 0.5s ease;
    font-size: 16px;
}

.foot:hover {
    color: green;
}


@media (max-width:768px) {
    nav {
        font-size: 12px;
        padding: 4px 10px;
    }

    .img {
        height: 640px;
        width: 95%;
        margin: 10px auto;
    }

    .heading1 {
        font-size: 64px;
        margin-left: 75px;
    }

    .search {
        margin-left: 75px;
        width: 250px;
        border-radius: 8px;
        height: 45px;
    }

    .search-input {
        font-size: 14px;
        padding: 6px 15px;
    }

    .search-button {
        width: 60px;
        height: 46px;
        font-size: 20px;
        border-radius: 10px;
        margin-right: -2px;
    }



    .footer {
        margin-top: 1vh;
        width: 100%;
        background-color: rgb(248, 245, 245);
        border-radius: 5px;
        padding: 2vh;
        text-align: center;
        width: 100%;
        box-sizing: border-box;
    }

    .foot {
        width: 100%;
        text-align: center;
        display: inline-block;
        transition: color 0.5s ease;
        font-size: 14px;
    }

}

@media (max-width: 480px) {
    nav {
        font-size: 10px;
    }

    .lefts {
        display: flex;
        gap: 10px;
    }

    .lefts a {
        text-decoration: none;
        color: black;
        padding-top: 3px;
    }

    .solveme {
        display: inline-block;
        height: 14px;
    }

    .rights {
        display: flex;
        gap: 10px;
    }


    .rights a {
        text-decoration: none;
        color: black;
        padding-top: 6px;
    }

    .rights #signup {
        background-color: #108a08;
        padding: 6px 15px;
        border-radius: 8px;
        color: white;
        margin-right: 20px;
    }

    .img {
        height: 60vh;
        width: 100%;
        margin: 10px auto;
        background-size: cover;
        background-position: center;
        border-radius: 12px;
    }

    .heading1 {
        font-size: 45px;
        margin-left: 45px;
    }

    .search {
        margin-left: 45px;
        width: 220px;
        border-radius: 8px;
        height: 42px;
    }

    .search-input {
        font-size: 12px;
        padding: 6px 15px;
    }

    .search-button {
        width: 60px;
        height: 43px;
        font-size: 16px;
        border-radius: 10px;
        margin-right: -2px;
    }

    .foot {
        width: 100%;
        text-align: center;
        display: inline-block;
        transition: color 0.5s ease;
        font-size: 12px;
    }

}